<!DOCTYPE html>
<html lang="es">
<head>
  <title>Bienvenido a Alertab: Una nueva forma de cuidarnos los unos a los otros!</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'favicon.ico'%>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <meta charset="UTF-8">
  <meta name="description" content="Crea rutas mientras te desplazas de un lugar a otro y notificar cualquier situación de riesgo a la que te expongas enviando alertas a tus amigos y familiares en tiempo real">
  <meta name="keywords" content="reporta riesgo, alertar comunidad, latino america, seguimiento en tiempo real, social, plataforma alertas, aplicación para cuidar, app alertas, alertab app">
</head>
<body>

<%= yield %>

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-38131909-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</body>
</html>
